div#dash-home-content {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 64px 150px auto ;
  row-gap: 12px;
  column-gap: 12px;

  flex-grow: 1;
  padding: 12px;
  height: 100%;
}

p#user-name{
  justify-self: center;
}

div#dash-title {
  display: flex;
  grid-column: 1 / span 2;
  justify-content: space-between;
}

.container {
  background-color: var(--white);
  padding: 12px;
}

.text-centre {
  text-align: center;
}

div#dash-members {
  display: flex;
  padding: 12px;
}

img.member-img {
  height: 60px;
  width: 60px;
  margin: 15px;
  border-radius: 30px;
  background-color: var(--grey);
}

button#invite {
  margin: 12px;
  width: fit-content;
  cursor: pointer;
}

div#house-id{
  display: flex;
  height: 40px;
  width: 160px;
  margin: 12px;
  text-align: center;
  justify-content: center;
}

div#house-id > p {
  margin: auto 0;
}