div#dash-tasks-content {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 64px auto;
  row-gap: 12px;
  padding: 12px;
  height: 100%;
}

select#tasks-views{
  display: flex;
  height: 40px;
  width: 160px;
  margin: 12px;
  text-align: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: #f9f6f6;
  border-radius: 30px;
  padding: 3px 24px;
}

@media screen and (max-width: 576px) {

  div#dash-tasks-content {
    grid-template-rows: auto;
  }
  
}