#kanban-content {
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto;
}

#kanban-board-container {
  display: flex;
  
}

.kanban-list-container {
  margin: 0 6px;
  padding: 6px;

  width: 25%;
  height: 100%;

  border-radius: 5px;
  background-color: var(--white);
}

.kanban-title {
  border-radius: 5px;
  background-color: var(--grey);
  margin-top: 0;
  text-align: center;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 1px 6px;
  margin: 6px 0;
}

p.sml-text {
  font-size: x-small;
}