#kanban-content {
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto;
}

#kanban-board-container {
  display: flex;
}

.kanban-list-container {
  margin: 0 6px;
  padding: 6px;
  width: 25%;
  height: 100%;
  border-radius: 12px;
}

.kanban-title {
  border-bottom: 2px #fa853c9a solid;
  margin-top: 0;
  text-align: center;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 1px 6px;
  margin: 6px 0;
  cursor: pointer;
  background-color: #dfd5d5;
}

p.sml-text {
  font-size: x-small;
}

@media screen and (max-width: 576px) {

  #kanban-board-container {
    flex-flow: column;
  }

  .kanban-list-container {
    margin: 0 12px 12px 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
  
}