nav#main-nav {
  /* background-color: var(--white); */
  /* height: 30px; */
  display: flex;
  /* justify-content: flex-end; */
}

nav.r-nav {
  background: transparent;
  padding: 20px 0;
  transition: 0.5s all;
}

nav#main-nav > .navLink {
  margin-left: 80px;
  justify-content: flex-end;

  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 14px;

  letter-spacing: 0.05em;
  text-decoration: none;
  letter-spacing: 3px;
}

#logo {
  width: 100px;
  justify-content: left;
}
