nav#main-nav {
  /* background-color: var(--white); */
  /* height: 30px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav#main-nav > .navLink {
  /* margin-left: 80px; */
  /* justify-self: right; */

  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 14px;

  letter-spacing: 0.05em;
  text-decoration: none;
  letter-spacing: 3px;
}

nav#main-nav > .navLink:last-child {
  margin-right: 36px;
}

#logo {
  width: 100px;
  justify-self: flex-start;
}

.collapsible {
  cursor: pointer;
}

.collapsible:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}



button#collapsed-menu {
  background: #fff;
  box-shadow: unset;
}

.collapse-content {
  /* important for collapse */
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  /* important for collapse */
  position: absolute;
  top: 110px;
  left: 0;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  flex-flow: column;

  width: 100%;

  padding: 0 18px;
  max-height: 0;
  background-color: #f9f6f6;
}

.collapse-content > .navLink {
  text-align: center;
  padding: 6px;
  color: #fa853c;
  text-decoration: 0;
}

.collapse-content > .navLink:hover {
  background-color: #dfd5d5;
}


.collapse-content > .navLink:last-child {
  padding-bottom: 12px;
}

@media screen and (max-width: 576px) {

  button#collapsed-menu {
    margin-right: 12px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {

  button#collapsed-menu {
    margin-right: 24px;
  }
}
