#create-household-content {
  display: flex;
  height: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#create-household {
  justify-self: center;
  margin-top: 20px;
  padding: 20px;
}

img.household-img {
  width: 150px;
  height: 150px;
  margin: 6px;
  border-radius: 75px;
  background-image:url('https://images.pexels.com/photos/7059942/pexels-photo-7059942.jpeg?cs=srgb&dl=pexels-andrew-neel-7059942.jpg&fm=jpg');
}

.return-btn{
  color: #000;
  font-weight: 900;
  margin: 10px;
}