#login-content{
  display: flex;
  height: 100%;
  flex-flow: column;
  justify-content: center;
  
  
}

.loginInForm{
  margin-top: 130px;
}

.error-login-msg{
  margin-top: -70px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .9rem;
  color: red;
}


