main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vw;
  min-height: calc(100vh - 110px);
}

section {
  width: 50%;
  padding: 12px;
  min-height: 100%;
}


@media screen and (max-width: 576px) {

  main {
    flex-wrap: wrap;
  }

  section {
    width: 100%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

  section {
    min-height: calc(100vh - 120px);
  }

}


