div.household {
  margin: 12px;
}

img.household-img {
  margin: 12px auto;
  border-radius: 75px;
  display: block;
}

div.household > a {
  text-decoration: none;
}

div.household > a:hover {
  transform: scale(1.1);
}

p.house-name{
  width: 110px;
  margin: 20px 10px 20px 20px;
  color: #fa853c;
  font-family: 'Noto Serif', serif;
  font-size: 16px;
  text-decoration: none;
}


