div.household {
  margin: 12px;
}

img.household-img {
  margin: 12px auto;
  border-radius: 75px;
  display: block;
}

img.user-img:hover,
img.household-img:hover {
  transform: scale(1.05);
}

div.household > a {
  text-decoration: none;
}

p.house-name {
  margin: 20px 10px 20px 20px;
  padding: 12px 24px;

  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 14px;
  
  text-decoration: none;
  min-height: 40px;
}

p.house-name:hover {
  padding: 12px 24px;
  min-height: 40px;
  box-shadow: 4px 4px 5px 2px var(--grey);
  border-radius: 30px;
}
