div.household {
  margin: 12px;
}

img.household-img {
  margin: 12px auto;
  border-radius: 75px;
  display: block;
}

img.household-img:hover {
  transform: scale(1.05);
}

div.household > a {
  text-decoration: none;
}

p.house-name {
  width: 110px;
  margin: 20px 10px 20px 20px;
  color: #fa853c;
  font-family: 'Noto Serif', serif;
  font-size: 16px;
  text-decoration: none;
  padding: 3px 12px;
}

p.house-name:hover {
  padding: 3px 12px;
  box-shadow: 4px 4px 5px 2px var(--grey);
  border-radius: 30px;
}
