nav#dash-nav {
  justify-content: center;

  width: 20vw;
  height: 100%;

  background-color: var(--white);
}

nav#dash-nav > ul {
  list-style-type: none;
  text-align: center;
  padding: 12px;
}

li.nav-item {
  padding: 6px;
  margin: 12px 0;
  border-radius: 5px;
}

li.nav-item:hover {
  box-shadow: 4px 4px 5px 2px var(--grey);
}

img.user-img {
  height: 150px;
  width: 150px;
  margin: 15px;
  border-radius: 75px;
  background-color: var(--grey);
}