div.list-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-title {
  border-radius: 5px;
  /*background-color: var(--grey);*/
  border-bottom: 2px #fff solid;
  margin-top: 0;
  text-align: center;
}

div#dash-today-list {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

div#tasks-to-do {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

div#tasks-col-4 {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
}

div#tasks-col-4,
div#tasks-to-do {
  display: flex;
  flex-flow: column;
}

div#tasks-col-4 > div:first-child,
div#tasks-to-do > div:first-child {
  margin-bottom: 6px;
}

div#tasks-col-4 > div:last-child,
div#tasks-to-do > div:last-child {
  margin-top: 6px;
}

div#dash-my-list,
div#dash-assigned-list,
div#dash-overdue-list,
div#dash-complete-list {
  flex-grow: 1;
}


div#dash-month-list {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}

p.test {
  background-color: rgba(248, 120, 34, 0.5);
}
