#overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  min-height: 100%;
  height: fit-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
}

#modal-content {
  position: relative;
  margin: 8% auto 10% auto;
  margin-top: 8%;
  z-index: 3;
  width: 80%;
  height: fit-content;
  background-color: #fff;
  padding: 12px;
  border-radius: 5px;
  /* overflow-y: scroll; */
}