nav.r-nav{
  background: transparent!important;
  padding: 20px 0;
  transition: .5s all;
}

.navLink{
  font-size: 15px;
  letter-spacing: 0.05em;
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.8)!important;
}

nav .navbar-nav li a{
 
 

 font-weight: 600;
 font-family: 'Nunito', sans-serif;
}

nav .navbar-nav li{
  margin-left: 25px;
}

/*nav.r-nav.stickyadd {
  background: rgb(131, 13, 13) !important;
  padding: 5px 0;
  box-shadow: 0 1px 8px 3px rgba(0,0,0,0.5);
  transition: .5s all ease-in-out;
}*/

/*nav.stickyadd .navbar-brand{
  color:black;
  font-size: 30px;
  transition: .5s all;
}*/

/*nav.stickyadd .navbar-nav .nav-link{
  color:black !important;
 
}*/

/*.navbar .hamburger{
  color: rgb(213, 55, 55);
}*/




.logo{
  width: 100px;
}