div#user-profile-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;

  padding: 12px;
  margin: 6px 0;
  
  max-height: 90%;
  justify-self: center;
}

div#user-profile-content > article > form > label {
  display: inline-block;
  color: white;
  background: linear-gradient(to right, #fa853c, #d48019);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 30px;
  min-height: 40px;
  width: fit-content;
}

button.profile-image-btn {
  margin: 12px;
  width: fit-content;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

article#profile-1 {
  display: flex;
  grid-column: 1 / span 1;
  align-items: center;
  flex-flow: column;
}

article#profile-2 {
  display: flex;
  grid-column: 2 / span 1;
  align-items: center;
  flex-flow: column;
}

form.profile-form > input,
form.profile-form > button {
  justify-self: center;
}

label[htmlFor='update-user-image']:hover {
  box-shadow: 4px 4px 5px 2px var(--grey);
}

@media screen and (max-width: 576px) {

  div#user-profile-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 12px;
  
    padding: 12px;
    margin: 20px 0;
    
    max-height: 90%;
    justify-self: center;
  }

  article#profile-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  
  article#profile-2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  
}