#create-task {
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto;
  margin: 20px 0;
  padding: 12px;
}

#name-input-section,
#duration-number,
#repeat-number,
#alert-number,
#complete-number {
  display: flex;
  align-items: center;
  grid-column: 1 / span 1;
}

#duration-radio,
#repeat-radio,
#alert-radio,
#complete-radio {
  display: flex;
  align-items: center;
  grid-column: 2 / span 1;
  margin-left: 10px;
}

.CTF-lable {
  width: 110px;
  margin: 20px 10px 20px 20px;
  color: #fa853c;
  font-family: 'Noto Serif', serif;
}

@media screen and (max-width: 576px) {
  #create-task {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 12px;
  }

  
  #name-input-section
  #duration-number,
  #repeat-number,
  #alert-number,
  #complete-number {
    display: flex;
    align-items: center;
    grid-column: 1 / span 1;
  }

  #duration-radio,
  #repeat-radio,
  #alert-radio,
  #complete-radio {
    display: flex;
    align-items: center;
    grid-column: 1 / span 1;
    margin-left: 10px;
  }
}

@media screen and (max-width: 576px) {
  
  input[type='number'],
  input[type='text'] {
    margin: 20px 0px 20px 10px;
    width: 90%;
  }

  #name-input-section,
  #duration-number,
  #repeat-number,
  #alert-number,
  #complete-number {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
