
input.house-name{
    margin: 10px auto;
    width: 100%;
}

form.create-household {
    width: 300px;
    margin-bottom: 20px;
}

div.file-upload {
    display: flex;
    justify-content: center;
}

div#create-household > div > label:hover {
    box-shadow: 4px 4px 5px 2px var(--grey);
}

div#create-household > div > label {
  display: inline-block;
  color: white;
  background: linear-gradient(to right, #fa853c, #d48019);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 30px;
  min-height: 40px;
  width: fit-content;
}